/*#navbar-search-input{
    border-radius: 5px!important;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-menu > li:hover >.treeview-menu{
    width: 229px!important;
}
.treeview-menu > li > a:hover{
    width: 229px!important;
}
#tableau_liste_vehicule{
    width: 400px!important;
    z-index: 99999!important;
}
#tableau_liste_poi{
    width: 400px!important;
    z-index: 99999;
}
.visual{
    background-color: #1bbc9b!important;
}
.partage{
    background-color: #4183D7!important;
}
.coupure{
    background-color: #EC644B!important;
}
.serrure{
    background-color: #F89406!important;
}
.sms{
    background-color: #81CFE0!important;
}
.evenement{
    background-color: #E26A6A!important;
}
.visualPOI{
    background-color: #1bbc9b!important;
}
.updatePOI{
    background-color: #4183D7!important;
}
.rappel_btn{
    background-color: #f7ca18!important;
}
.btn_control{
    border-radius: 50px;
    padding: 5px;
    margin: 2px;
    text-align: center;
    width: 25px;
    height: 25px;
}
.icon_btn{
    position: relative;
    bottom: 3px;
    right: 1px;
}
.table{
    font-size:12px!important;
}
.box.box-primary {
    border-top-color: #3c948b!important;
}
.leaflet-top, .leaflet-bottom {
    z-index: 5!important;
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #3c948b!important;
}
.select2-selection{
    border: 1px solid #aaa!important;
    border-radius: 0px!important;
    height: 30px!important;
    padding: 4px 12px!important;
}
.select2-selection__choice {
    background-color: #367fa9!important;
    margin-right: 0px!important;
    margin-top: 0px!important;
    padding: 0 5px!important;
}
.select2-search__field {
    margin-top: 0px!important;
}

.ui-dialog-titlebar{
    padding: 0em 1em!important;
}

.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}
select {
  font-family: 'FontAwesome', 'Arial'
}*/

.popup_test .leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.46) none repeat scroll 0 0;
}

.popup_test2 .leaflet-popup-content-wrapper {
    background: rgba(255, 0, 0, 0.4) none repeat scroll 0 0!important;
}
.popup_test3 .leaflet-popup-content-wrapper {
    background: rgba(128, 0, 128, 0.49) none repeat scroll 0 0!important;
}
.popup_test5 .leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.46) none repeat scroll 0 0!important;
}
.popup_test6 .leaflet-popup-content-wrapper {
    background: rgba(0, 128, 0, 0.5) none repeat scroll 0 0!important;
}
.popup_test7 .leaflet-popup-content-wrapper {
    background: rgba(255, 165, 0, 0.7) none repeat scroll 0 0!important;
}

.popup_test8 .leaflet-popup-content-wrapper {
    background: rgba(0, 90, 255, 0.5) none repeat scroll 0 0!important;
}

.popup_test9 .leaflet-popup-content-wrapper {
    background: rgba(225, 225, 0, 0.5) none repeat scroll 0 0!important;
}

div[class*="popup_vihic"] .leaflet-popup-content-wrapper {
    border-radius: 0px!important;
    padding: 1px!important;
    text-align: center!important;
    background: rgba(0, 0, 0, 0.46) none repeat scroll 0 0;
    border: 1px solid #3c948b!important;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4)!important;
}
div[class*="popup_vihic"] .leaflet-popup-content-wrapper .leaflet-popup-content {
    line-height: 1.4!important;
    margin: 5px 10px!important;
    color: white;
}
div[class*="popup_vihic"] .leaflet-popup-tip-container {
    display: none!important;
}
/*#parcours tr td button{
    padding: 3px 3px!important;
    display: inline!important;
}*/